<html>
<head>
  <meta charset="UTF-8">
  <title>This is a page In iframe</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div class="main" style="margin-left: 0">
    <h1>This is a page In iframe</h1>
    <div class="content">
      <% if (params) { %>
        <div>
          <span class="label">text field</span>
          <input name="field" type="text" class="long" value="<%= params.field %>" disabled>
        </div>
        <div>
          <span class="label">other text field</span>
          <textarea name="area" cols="80" rows="5" disabled><%= params.area %></textarea>
        </div>
        <div style="margin-top: 25px">
          <a href="/iframe_example/inframe" class="btn btn-default" >back</a>
        </div>
      <% } else { %>
      <form action="/iframe_example/inframe" method="POST" >
        <div>
          <span class="label">text field</span>
          <input type="text" class="long" name="field" value="">
        </div>
        <div>
          <span class="label">text area</span>
          <textarea name="area" cols="80" rows="5"></textarea>
        </div>
        <div style="margin-top: 25px">
          <button type="submit" class="btn-primary" >submit</button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</body>
</html>
