<h1>File Upload</h1>
<div class="content">
  <form action="/file_upload_example/upload" method="POST" enctype="multipart/form-data">
    <p>this is a file upload example</p>
    <p><input type="file" name="file"></p>
    <div style="padding-top: 5px">
      <button type="submit" class="btn-primary" >upload</button>
    </div>
  </form>
</div>
